html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body {
  background: #e1f5fe ;
}

.list-books-title {
  padding: 10px 0;
  background: brown;
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-books-title h1 {
  color: white;
}
.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}








