.search-input-container {
	width: 100%;
	height: 50px;
	position: relative;
}
.search-input-container input {
	height: 100%;
	width: 100%;
	margin-left: 50px;
	padding: 10px;
	font-size: 20px;
}
.search-input-container input:focus {
	outline: none;
}
.close-search-arrow {
	height: 100%;
	display: inline-block;
	position: absolute;
  width: 50px;
  background: #eee;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;

}
.search-books-results {
  padding: 80px 10px 20px;
}
